@charset "utf-8";

.wrap{
    /* position: relative; */
    width: 100%;
    height: 100%;
  }
  .content_name{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content2{
    line-height: 2;
    text-align: center;
  }
  .walk-write{
    /* position: absolute; */
    margin: 0 auto;
    border: 1px solid black;
    width: 70%;
  
    left: 13.5%;
  }
  .walk-name{
    border: 1px solid red;
    width: 95%;
    display: inline-flex;
    margin : 8px 0px 0px 12px;
  }
  .content3{
    display: flex;
    justify-content: space-around;
}
.location{
    display: flex;
}
.search1, .search2{
   height: 1.5rem;
   border-radius: 7px;
   border: 1px solid lightblue;
}
  .write-content, .write-location, .write-picture{
    border: 3px solid rgb(106, 171, 240);
    border-radius: 15px;
    background-color:  rgb(230, 242, 255);
    width: 95%;
    height: 18rem;
    margin: 0 auto;
  }

  .write-content{
    line-height: 0.5;
  }

  textarea{
    border-radius: 15px;
    margin-left: 10px;
  }

  img{
    margin-top: 20px;
  }
 .btn-div{
  display: flex;
  justify-content: center;
  margin-top: 30px;
 }
 .btn-upload{
    margin-right: 50px;
 }

 /*사진보여주기 style*/
 #walk-picture {
        position: relative;
    }

    .items {
        border: 0px solid red;
        margin: 0 auto;
        width: 85%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .active {
        display: flex;
        height: 600px;
        width: 900px;
        color: white;
        position: relative;
    }
    .btn-pic,
    .prev:active,
    .prev:focus,
    .next:active,
    .next:focus {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
        background-color: white;
        box-shadow: 0px 0px 3px rgb(209, 202, 202);
        outline: none;
        cursor: pointer;
    }
    .next {
        right: 150px;
        background-image: url(../img/KakaoTalk_20230320_141959451.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .prev{
        left: 150px;
        background-image: url(../img/KakaoTalk_20230320_141959518.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 1;
    }
    .stepper {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .step {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(218, 214, 214);
        margin: 0 6px;
    }

    .active-step {
        background-color: darkgray;
    }

    .active>div {
        width: 35%;
        height: 55%;
        margin: 15px
    }

    .picture{
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(../image2/cat.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 300px;
    }